<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Charadas</span>
    <span class="spacer"></span>
    <button
      *ngIf="user$ | async as user"
      mat-icon-button
      aria-label="Share"
      (click)="share(user.gameId)"
    >
      <mat-icon>share</mat-icon>
    </button>
    <button
      *ngIf="user"
      mat-icon-button
      aria-label="Log out"
      (click)="logout()"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
